//==================================================================
// Header Partial
// Styles for header layout.
//==================================================================

.primary-header {
  background: #333;
  color: white;
  padding: 15px 0;
}
