//==================================================================
// Home Page Partial
// Styles for the home page.
//==================================================================

.site-input {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;

  &__wrapper {
    position: relative;
    width: 50%;
    margin: auto;

    // if there are errors
    &.form-error {
      i {
        color: rgb(196, 17, 52);
      }

      input[type=text] {
        border-color: rgb(196, 17, 52);
      }
    }

    i {
      position: absolute;
      top: 8px;
      right: 10px;
      @include font-size(25px);
      color: #ccc;
    }
  }

  input[type=text] {
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 50px;
    padding: 10px 20px;
    outline: 0;
  }
}

.site-info {
  padding: 10px 0;
  @include font-size(12px);
  text-align: right;

  &__size {
    background: $primary-color;
    display: inline-block;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
  }
}

.screen-size {
  margin: 10px auto;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}

.iframe {
  &__wrapper {
    position: relative;
    height: 80vh;
    width: 100%;

    iframe {
      background: #fff;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
